*.DS_Store
*.o
*.includecache
*.cmake
*.make
*.internal
*.txt
*.marks
Sources/assimp/contrib/irrXML/Makefile
Sources/assimp/contrib/poly2tri/AUTHORS
Sources/assimp/contrib/poly2tri/LICENSE
Sources/assimp/contrib/poly2tri/README
Sources/assimp/contrib/rapidjson/readme.md
Sources/assimp/contrib/utf8cpp/doc/ReleaseNotes
*.html
*.sh
*.yml
Sources/assimp/include/assimp/.editorconfig
